* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.timer {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 100px 0px;
  height: 74vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
  font-family: Roboto;
}

.timer h1 {
  font-size: 36px;
  margin: 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

.TimeDisplay {
  font-size: 50px;
}

@media only screen and (max-width: 360px) {
  .AllButtons {
    display: flex;
    flex-direction: column;
  }
}

.AllButtons {
  display: flex;
}

#Start {
  background-color: rgb(0, 213, 0);
  color: #ffffff;
}

#Stop {
  background-color: rgb(253, 4, 4);
  color: #ffffff;
}

#Reset {
  background-color: rgb(21, 181, 189);
  color: #ffffff;
}

.hideit {
  visibility: hidden;
}
